* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
.navbar-scrolled {
  background-color: white;
}
.nav a {
  color: black;
}
.top-content {
  width: 100%;
  position: relative;
  z-index: 20;
}
.top-right img {
  width: 100%;
}
.top-shape img {
  padding-bottom: 100px;
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  z-index: 10;
}
.top-info {
  margin-top: 120px;
}
.btnn {
  border: none;
  border-radius: 50%;
  color: red;
}
.login {
  padding: 10px 20px;
  background-color: #4628ba;
  border-radius: 10%;
}
.btnn i {
  font-size: 30px;
  color: #fff;
  background-color: #f1f1f2;
}
.rightbg {
  background-image: url(../images/rightbg.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-position-x: right;
}
.heading-center h5 {
  color: #4628ba;
}
.heading-center h2 {
  color: #0e2258;
}

.service {
  background-color: #eef9fd;
}
.service-column {
  background-color: #fff;
  padding: 10px;
}
.service-icon {
  background-color: #4628ba;
  border-radius: 50%;
}
.service-item i {
  font-size: 50px;
  color: #0e2258;
}
.banner {
  height: 100vh;
  position: relative;
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}
.blue {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(70, 40, 186, 1) 32%,
    rgba(8, 113, 255, 1) 100%
  );
  opacity: 0.8;
}
.blue-item {
  padding: 50px;
}
.blue-group {
  margin-top: 100px;
}

.data-item {
  font-weight: bold;
  border: 1px solid white;
  border-radius: 10px;
  padding: 50px 30px;
  column-gap: 10px;
  line-height: 20px;
}
.subscribe input {
  border: none;
  border-radius: 10px;
}
.about-left {
  text-align: right;
  margin-right: 50px;
}
.about-left img {
  width: 100%;
}
.about-right {
  padding: 0px 15px;
  line-height: 1.3rem;
}
.about-right h2 {
  color: #0e2258;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.about-list {
  font-size: 20px;
}
.about-list i {
  border: 2px solid #f1f1f2;

  border-radius: 50%;
  padding: 15px;
  background-color: #f1f1f2;
  margin-top: 24px;
  margin-right: 15px;
  color: #4628ba;
  font-size: 30px;
}
.work-item img {
  width: 150px;
  height: 150px;
}
.work-item h4 {
  font-weight: bold;
  color: #252258;
}
.work-item p {
  color: #4628ba;
}
.client-items {
  margin-top: 50px;
  background-image: linear-gradient(#4628ba, #0a6dfa);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: right;
}
.fixed-shape {
  position: absolute;
  z-index: -1;
  left: 700px;
}
.fixed-shape img {
  width: 100%;
  height: 300px;
}
.partner-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.item {
  font-size: 50px;
  line-height: 100px;
}
.c-shadow {
  box-shadow: 10px 10px 10px 10px #e6f0fd;
  /* border-top: 5px solid;
  border-image: linear-gradient(rgb(62, 105, 246), rgb(126, 139, 240));
  border-image-slice: 1; */
}

.reviwe-container {
  width: 100%;
  background-color: #ecf6fa;
}
.review-image {
  border-radius: 50%;
  background: #fff;
  padding: 5px;
  width: 120px;
  height: 120px;
}
.left {
  box-shadow: 3px 3px 3px 2px rgba(33, 74, 236, 0.2);
}
.contact-bg img {
  width: 100%;
}
.icon i {
  width: 40px;
  height: 40px;
}
.date {
  border: 10px;
  border-radius: 5px;
  background-color: #4628ba;
  width: 100px;
  font-weight: 500;
}
.content {
  margin-top: 150px;
  font-weight: 700;
}
.b2-p {
  font-size: 14px;
}
.footer-card {
  margin-top: 50px;
}
.footer-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ftr {
  background: #13275c;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-aveit {
  margin-left: 20px;
}
.social > ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.social > ul > li > a {
  text-decoration: none;
  margin-left: 20px;
}
.row {
  margin-left: 15px;
  margin-right: 15px;
}
.logo img {
  width: 30%;
}
.input-group {
  display: flex;
  align-items: center;
}
.input-group input {
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px 0px 0px 10px;
}
.input-group button {
  border: 1px solid white;
  padding: 20px;
  border-radius: 0 10px 10px 0;
}
